<header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top ">
        <div class="container">
            <a class="navbar-brand fs-2 fw-bold "><i class="fa fa-shopping-bag fs-2 shop"></i><span class="textBlur">CARRITO DE COMPRAS</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!--Toggle  -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li class="nav-item">
                        <a class="nav-link fw-semibold text-uppercase text-black  me-1" routerLink="/">PRINCIPAL</a>
                    </li>                    

                    <li class="nav-item">
                        <a class="nav-link fw-semibold text-uppercase text-black  me-1" routerLink="/products">PRODUCTOS </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fw-semibold text-uppercase text-black  me-1" routerLink="/cart">CARRITO</a>
                    </li>

                    <li class="nav-item dropdown" >
                        <a class="nav-link redHover fw-semibold text-uppercase text-black  me-1" >
                            Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="!isAuth()">
                            <li><a class="dropdown-item text-center" routerLink="/login">Inicia Sesión</a></li>
                            <!-- <li><a class="dropdown-item" >Registro</a></li> -->
                        </ul>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="isAuth()">
                            <li><p class="dropdown-item" >Bienvenido! <b class="text-primary">{{ username }}</b></p></li>
                            <li>
                                <a class="nav-link redHover fw-semibold text-uppercase text-black me-1 text-center" routerLink="" (click)="logout()">
                                    Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </li>   

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle cart fw-semibold text-uppercase text-black  me-1" href="#"
                            id="navbarDropdown" role="button" aria-expanded="false">
                            <i class="fa fa-cart-plus fs-2"></i>
                            <span class="position-absolute  translate-middle badge rounded-pill bg-danger">{{getTotalQuantity()}}</span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="CartContainer">
                                <div class="row">
                                    <div class="col-6">
                                        <b>Tu Carrito</b>
                                    </div>
                                </div>

                                <div class="row pt-1" *ngFor="let cart of cartList">
                                    <div class="col-3">
                                        <img [src]="cart.image" class="card-img-top img-fluid">
                                    </div>
                                    <div class="col-4">
                                        <div class="fw-semibold truncate">{{cart.title}}</div>
                                    </div>
                                    <div class="col-2">
                                        <div class="fw-semibold">{{cart.quantity}}</div>
                                    </div>
                                    <div class="col-2 text-end">
                                        <div class="fw-semibold">{{cart.price | currency:'Q'}}</div>
                                    </div>
                                </div>
                                <tr *ngIf="cartList.length === 0">
                                    <td colspan="6" class="text-center text-muted">Carrito vacío</td>
                                </tr>
                                <hr>
                                <div class="row">                                    
                                    <div class="col-4">
                                        <div class="Subtotal"><b>Total:</b></div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <strong>{{ totalCart() | currency:'Q' }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-between">
                                        <button class="btn btn-sm btn-primary" routerLink="/cart">Ver Carrito</button>
                                        <button class="btn btn-sm btn-success" (click)="processSale()">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>